---
name: Continuous Integration
on:
  push
jobs:
  secrets:
    name: secrets
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Run Trufflehog
        id: trufflehog
        uses: trufflesecurity/trufflehog@main
        continue-on-error: false
        with:
          head: HEAD
          extra_args: --debug
  qa:
    name: qa
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install Python dependencies
        run: python -m pip install black
      - name: Run Python black
        run: black --diff --color --check .
  sca:
    name: sast
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Generate an SBOM
        uses: anchore/sbom-action@v0.15.0
        with:
          image: .
          output-file: sbom.json
      - name: Check for CVEs
        uses: anchore/scan-action@v3
        with:
          sbom: sbom.json
          fail-on-severity: high
  sast:
    name: sast
    runs-on: ubuntu-latest
    container:
      image: semgrep/semgrep
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Do a SAST scan
        run: semgrep scan --config auto
