name: Publish
on:
  release:
    types:
      - published
jobs:
  pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      actions: read
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install Python dependencies
        run: pipx install poetry
      - name: Build the artifact
        run: poetry build
      - name: Publish the artifact
        uses: pypa/gh-action-pypi-publish@release/v1
