name: Publish
on:
  release:
    types: [created]
jobs:
  pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/pySunshower
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Build the artifact
        run: uv build
      - name: Publish the artifact
        uses: pypa/gh-action-pypi-publish@release/v1
